@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Press Start 2P', cursive;
  background-color: #2C3E50;
  color: #2C3E50;
  image-rendering: pixelated;
}

.bg-autumn-pattern {
  background-color: #E67E22;
  background-image: radial-gradient(#F1C40F 15%, transparent 16%),
  radial-gradient(#F1C40F 15%, transparent 16%);
  background-size: 60px 60px;
  background-position: 0 0, 30px 30px;
}
